@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "swiper/css/bundle";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../images/body-bg.svg);
  background-color: rgb(250, 250, 250);
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: gray;
}

.swiper-pagination-bullet-active {
  background-color: orange;
}

.bg-gradient {
  border-radius: 20px 20px 80px 80px;
  background-image: linear-gradient(#fa709a, #fee140);
}


.active{
  border-bottom: 2px solid rgb(255, 46, 46);
}
